{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Keyboard Code</title>
		
		<link rel="stylesheet" href="{% static 'KeyboardCodeIDE\style.css' %}">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<script src="{% static 'KeyboardCodeIDE\mespeak\mespeak.js' %}"></script>
		
        <script>
            // Initialize meSpeak.js
            meSpeak.loadConfig("{% static 'KeyboardCodeIDE/mespeak/mespeak_config.json' %}");
            meSpeak.loadVoice("{% static 'KeyboardCodeIDE/mespeak/voices/en/en-us.json' %}");
        </script>
        
		<script src="{% static 'KeyboardCodeIDE\editor.js' %}"></script>
	</head>
	
	<body>
		
		<div id="filesystem" class="component">
			
			<h3>File System</h3>
			
			<ol id="files">
				<li><a href="file.txt">file.txt</a></li>
			</ol>
		</div>
		
		<div id="text-editor">
			<textarea id="editor"></textarea>
		</div>
		
		<div id="action-menu-window">
			<textarea id="action-menu"></textarea>
		</div>
		
	</body>
</html>
